In [1]:
from motionchart.motionchart import MotionChart
import pandas as pd

In [6]:
sampleData = pd.read_csv('output.csv')
sampleData

,Year,AustralianPort,Passengers_Total,Freight_Total_(tonnes),Mail_Total_(tonnes)
0,1985,Brisbane,492466,12130.700,232.588
1,1985,Melbourne,1174440,66334.826,1191.711
2,1985,Perth,500882,20383.478,171.461
3,1985,Sydney,2772120,126730.195,2851.575
4,1986,Brisbane,576663,13925.564,303.250
5,1986,Melbourne,1273079,71490.824,1373.657
6,1986,Perth,566366,21985.308,224.049
7,1986,Sydney,3086337,134369.494,2952.977
8,1987,Brisbane,697453,17614.530,402.029
9,1987,Melbourne,1418691,81625.189,1691.240
10,1987,Perth,649199,21258.849,277.874
11,1987,Sydney,3569509,158198.254,3512.471
12,1988,Brisbane,958795,23941.052,756.031
13,1988,Melbourne,1539270,82908.459,3196.336
14,1988,Perth,714111,22552.867,545.534
15,1988,Sydney,4106460,169022.590,6642.487
16,1989,Brisbane,946067,29846.663,1052.270
17,1989,Melbourne,1629282,88551.951,4359.310
18,1989,Perth,811754,23965.682,790.565
19,1989,Sydney,4026296,193957.314,8934.256
20,1990,Brisbane,1062737,31117.694,1213.883
21,1990,Melbourne,1717191,93154.705,4459.911
22,1990,Perth,860816,25221.376,887.316
23,1990,Sydney,4264091,195776.001,9868.353
24,1991,Brisbane,1202170,35362.190,1236.324
25,1991,Melbourne,1703866,87384.525,4458.934
26,1991,Perth,824172,29249.645,877.064
27,1991,Sydney,4220272,193499.302,9994.147
28,1992,Brisbane,1312939,38289.617,1440.426
29,1992,Melbourne,1737956,93725.199,4513.502
...,...,...,...,...,...
98,2009,Perth,2774737,60970.140,1689.990
99,2009,Sydney,10635270,349934.648,22256.611
100,2010,Brisbane,4282257,95351.268,3918.677
101,2010,Melbourne,5872511,216868.703,9534.816
102,2010,Perth,3133709,71186.637,1597.869
103,2010,Sydney,11455537,391059.876,24096.445
104,2011,Brisbane,4444867,101306.986,4433.116
105,2011,Melbourne,6460958,228322.839,10352.236
106,2011,Perth,3349468,69877.847,1441.553
107,2011,Sydney,11748582,408593.418,26958.605
108,2012,Brisbane,4471413,103090.901,4611.991
109,2012,Melbourne,6819242,238095.839,9974.428
110,2012,Perth,3618768,79426.098,1584.744
111,2012,Sydney,12369193,418242.170,26304.486
112,2013,Brisbane,4669141,106075.545,4359.100
113,2013,Melbourne,7312143,245344.985,9453.671
114,2013,Perth,3919840,81955.917,1599.758
115,2013,Sydney,12933885,413568.655,24482.237
116,2014,Brisbane,4964981,114352.603,3856.171
117,2014,Melbourne,8022466,259870.791,10669.041
118,2014,Perth,4180407,84993.453,1262.836
119,2014,Sydney,13315835,411083.644,25019.844
120,2015,Brisbane,5238522,123341.040,3260.702
121,2015,Melbourne,8859316,287199.907,10248.943
122,2015,Perth,4192833,94577.420,1011.175
123,2015,Sydney,13911228,443373.635,22478.601
124,2016,Brisbane,2156276,47566.956,1163.755
125,2016,Melbourne,3867282,118408.203,3615.825
126,2016,Perth,1772603,39400.202,277.265
127,2016,Sydney,6186627,190861.843,8788.413

In [4]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:1000px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [7]:
mChart = MotionChart(df = sampleData)
mChart.to_notebook()

In [9]:
mChart = MotionChart(df = sampleData, key='Year', x='Passengers_Total', y='Freight_Total_(tonnes)', xscale='linear', yscale='linear',
                     size='Mail_Total_(tonnes)', color='Mail_Total_(tonnes)', category='AustralianPort')

mChart.to_notebook()